.squares-container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
    margin: 0 auto;
}

.square {
    justify-content: center;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.reset {
    padding:  15px;
    background-color: blue;
    border-radius: 5px;
    color: whitesmoke;
}